:root {
  --color-light: #C1DCDC;
  --color-medium: #79B2B2;
  --color-dark: #1E1E1E;
  --font-sans: 'Poppins', sans-serif;
  --font-logo: 'Quella', serif;
}

/* reset & globals */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans);
  color: var(--color-dark);
  background: #fff;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}
